.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.table-wrapper {
	position: relative; /* Define a referência para posicionamento absoluto */
	display: inline-block; /* Ajusta o tamanho ao conteúdo da tabela */
	height: 100%;
	box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
    border-radius: 1rem;
	overflow: hidden;
}

.overlay {
	position: absolute; /* Posiciona a div relativa ao wrapper */
	top: 0; /* Alinhado ao topo da tabela */
	left: 0; /* Alinhado à esquerda da tabela */
	width: 100%; /* Tamanho igual à tabela */
	height: 100%; /* Altura igual à tabela */
	background-color: rgba(0, 0, 0, 0.05); /* Fundo semitransparente */
	border-radius: 1rem;
	display: flex; /* Alinhamento central */
	justify-content: center;
	align-items: center;
	z-index: 10; /* Garante que a div esteja acima da tabela */
	// pointer-events: none; /* Permite clicar nos elementos da tabela abaixo */
}

.my-options {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	button {
		margin-top: 0.5rem;
	}
}

.page-title {
	font-size: 1.1rem;
	color: #555;
}

table {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	margin-bottom: 1rem;
	height: 100%;
	
	th {
		background-color: #e0f2f7;
	}
	
	tr {
		background-color: white;
		border-radius: 1rem;
	}

	.concluded {
		background-color: rgb(236, 236, 236);
		text-decoration: line-through;
	}

	th:first-child {
		border-top-left-radius: 1rem;
	}

	th:last-child {
		border-top-right-radius: 1rem;
	}
}

th,
td {
	padding-inline: 3rem;
}

th {
	padding-block: 1.5rem;
	text-align: center;
}

td:last-child {
	text-align: center;
}
