<div class="content">
	<!-- Cabeçalho -->

	<h2 class="page-title">
		<!-- Navegação breadcrumb para a última página -->
		@if(actionService.getLastPageState()) {
		<span
			class="last-page-label"
			(click)="navigateTo(actionService.getLastPageState(true))"
			>{{ actionService.getLastPageState() }}</span
		>
		<mat-icon>chevron_right</mat-icon>
		}

		<!-- Título e estado da solicitação (aberta, fechada ou arquivada) -->
		<div>
			Solicitação Nº
			{{ solicitationId!.toString().padStart(6, "0") }}
			@if(mySolicitation()?.archived) {
			<span class="status-chip status-chip-archived">Arquivada</span>
			} @else if (mySolicitation()?.conclusionDate) {
			<span class="status-chip status-chip-closed">Fechada</span>
			} @else {
			<span class="status-chip status-chip-opened">Aberta</span>
			}
		</div>
	</h2>

	<p class="subtitle">Dados do solicitante</p>

	<div class="user-info-container">
		<img
			class="user-photo"
			src="{{ mySolicitation()?.user?.photoUrl }}"
			alt="user-photo"
		/>
		<div class="user-info user-name">
			<span>Interessado:</span
			><span>{{ mySolicitation()?.user?.commonName }}</span>
		</div>
		<div class="user-info user-registrationNumber">
			<span>Matrícula:</span
			><span>{{ mySolicitation()?.user?.registrationNumber }}</span>
		</div>
		<div class="user-info user-sector">
			<span>Setor atual:</span
			><span>{{ mySolicitation()?.user?.sector }}</span>
		</div>
		<div class="user-info user-phones">
			<span>Telefones institucionais:</span>
			@for (phone of mySolicitation()?.user?.phoneNumbers | split; track
			$index) {
			<span>{{ phone }}</span>
			} @empty {
			<span>Nenhum telefone institucional cadastrado.</span>
			}
		</div>
	</div>

	<!-- Filtro por nome de arquivo -->
	<!-- <form [formGroup]="queryForm">
		<mat-form-field class="search-bar">
			<mat-label>Filtrar por Arquivo</mat-label>
			<input
				matInput
				placeholder="Nome do Arquivo"
				formControlName="query"
			/>
			<mat-icon matSuffix>search</mat-icon>
		</mat-form-field>
		<button mat-button (click)="clearFilters()">Limpar Filtros</button>
	</form> -->

	<p class="subtitle">
		Arquivos anexados ({{ mySolicitation()?.copies?.length }})
	</p>

	<div class="table-wrapper">
		<!-- TODO: Aqui [style.height.%] calcula a altura da tabela de acordo com o número de itens que 
		 aparecem na página atual da listagem, relativo a lista de todas as solicitações. 
		 Isso garante que todos os itens tenham sempre a "mesma" altura.  
		 Solução itermediária até ser implementada paginação. -->

		<!-- 
		 matSort
		 [style.height.%]="
				10 +
				9 *
					(paginator.pageSize / paginator.length != 1 &&
					paginator.pageIndex == paginator.getNumberOfPages() - 1
						? paginator.length % paginator.pageSize
						: paginator.pageSize)
			" -->
		<table
			mat-table
			[dataSource]="copies"
			class="mat-elevation-z8"
			[style.height.%]="10"
		>
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>ID</th>
				<td mat-cell *matCellDef="let element">
					{{ element.id.toString().padStart(6, "0") }}
				</td>
			</ng-container>

			<ng-container matColumnDef="fileName" class="file-name-container">
				<th
					mat-header-cell
					*matHeaderCellDef
					style="width: 50%; max-width: 10rem"
				>
					Arquivo
				</th>
				<td
					mat-cell
					*matCellDef="let element"
					style="width: 50%; max-width: 10rem"
				>
					<div style="display: flex; gap: 0.5rem">
						<!-- Icone de arquivo físico -->
						@if(element.isPhysicalFile) {
						<mat-icon
							style="cursor: auto; opacity: 50%; display: table"
							matTooltip="Arquivo físico"
							>history_edu</mat-icon
						>
						}
						<span
							style="display: inline-flex; align-items: center"
							>{{ element.fileName }}</span
						>
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="pageCount">
				<th mat-header-cell *matHeaderCellDef>Páginas</th>
				<td mat-cell *matCellDef="let element">
					{{ element.pageCount }}
				</td>
			</ng-container>

			<ng-container matColumnDef="copyCount">
				<th mat-header-cell *matHeaderCellDef>Nº Cópias</th>
				<td mat-cell *matCellDef="let element">
					{{ element.printConfig.copyCount }}
				</td>
			</ng-container>

			<!-- Botão de detalhes: mostra as configurações de impressão de uma cópia específica -->
			<!-- <ng-container matColumnDef="pageConfig">
				<th
					mat-header-cell
					*matHeaderCellDef
					style="text-align: center"
				>
					Detalhes
				</th>
				<td
					mat-cell
					*matCellDef="let element"
					style="text-align: center"
				>
					<mat-icon (click)="showConfigs(element)">{{
						configs | icon
					}}</mat-icon>
				</td>
			</ng-container> -->

			<!-- Botões de ação -->
			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Ações</th>
				<td mat-cell *matCellDef="let element">
					@for (action of allowedActions; track $index) {
					<button
						[disabled]="
							actionService.disabledHandler(
								element,
								'view-solicitation',
								pageState,
								action,
								mySolicitation()
							)
						"
						mat-icon-button
						matTooltip="{{ action }}"
						aria-label="Action button"
						(click)="
							actionService.callbackHandler(
								action,
								element,
								'view-solicitation',
								pageState
							)
						"
					>
						<mat-icon>{{ action | icon }}</mat-icon>
					</button>
					}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>

		<!-- Overlay de carregamento da tabela  -->
		@if(loadingData()) {
		<div class="overlay">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
		}
	</div>

	<!-- Contador de arquivo e número de páginas -->
	<div class="copy-summary">
		<mat-chip-set aria-label="Sumário de cópias">
			<mat-chip>Arquivos: {{ fileCount() }}</mat-chip>
			<mat-chip
				>Contagem de folhas: {{ solicitationPageCounter() }}</mat-chip
			>
			<img
				style="margin-left: 0.5rem"
				matTooltip="Prévia de acordo com as configurações de impressão de todos os arquivos anexados"
				matTooltipPosition="after"
				class="help-icon"
				src="assets/help.svg"
				alt="Icone de Ajuda"
			/>
		</mat-chip-set>
	</div>

	<div class="timeline-label subtitle">
		<p>Linha do tempo ({{ mySolicitation()?.timeline?.length }})</p>
		<img
			style="margin-left: 0.5rem"
			matTooltip="Lista de iterações da solicitação"
			matTooltipPosition="after"
			class="help-icon"
			src="assets/help.svg"
			alt="Icone de Ajuda"
		/>
	</div>

	<div class="timeline-wrapper">
		<ul class="timeline-container">
			<li
				class="timeline-container-event comment-box"
				[style.display]="mySolicitation()?.archived ? 'none' : 'flex'"
			>
				<div class="timeline-times" style="visibility: hidden">
					<span>{{
						mySolicitation()?.creationDate | date : "dd/MM/yyyy"
					}}</span>
				</div>
				<div class="circular-portrait">
					<img
						src="{{
							userSignal()?.photoUrl ||
								defaultUserProfile.photoUrl
						}}"
						alt="Foto do usuário"
					/>
				</div>
				<div class="timeline-content">
					<div class="timeline-speech-bubble">
						<div class="timeline-speech-bubble-tail"></div>
					</div>
					<div class="timeline-textarea-wrapper">
						<textarea
							placeholder="Adicione um comentário..."
							#commentInput
							(input)="updateCharacterCount()"
							[maxLength]="maxlength"
						></textarea>
						<div class="textarea-controls">
							<span class="character-count"
								>{{ characterCount }}/{{ maxlength }}</span
							>
							<button
								class="send-button"
								(click)="sendComment(commentInput.value)"
							>
								Enviar
							</button>
						</div>
					</div>
				</div>
			</li>
			@for (step of mySolicitation()?.timeline; track $index) {
			<li class="timeline-container-event">
				<div class="timeline-times">
					<span>{{ step.creationDate | date : "dd/MM/yyyy" }}</span>
					<span>{{ step.creationDate | date : "HH:mm:ss" }}</span>
				</div>
				<div class="circular-portrait">
					<img src="{{ step.user.photoUrl }}" alt="Foto de perfil" />
				</div>
				<div class="timeline-content">
					<div class="timeline-speech-bubble">
						<div class="timeline-speech-bubble-tail"></div>
					</div>
					<div class="timeline-text">
						@if(step.type == 'REQUEST_OPENING') {
						<p>
							Solicitação
							<span class="status-chip status-chip-opened"
								>Aberta</span
							>
							por
							<strong>{{ step?.user?.commonName }}</strong> ({{
								step?.user?.registrationNumber
							}})
						</p>
						} @else if (step.type == 'REQUEST_CLOSING') {
						<p>
							Solicitação
							<span class="status-chip status-chip-closed"
								>Fechada</span
							>
							por
							<strong>{{ step?.user?.commonName }}</strong> ({{
								step?.user?.registrationNumber
							}})
						</p>
						} @else if (step.type == 'REQUEST_EDITING') {
						<p>
							Solicitação
							<span class="status-chip status-chip-edited"
								>Editada</span
							>
							por
							<strong>{{ step?.user?.commonName }}</strong> ({{
								step?.user?.registrationNumber
							}})
						</p>
						} @else if (step.type == 'REQUEST_ARCHIVING') {
						<p>
							Solicitação
							<span class="status-chip status-chip-archived"
								>Arquivada</span
							>
							automaticamente pelo sistema
						</p>
						} @else if (step.type == 'COMMENT') {
						<p>
							<strong>{{ step?.user?.commonName }}</strong>
							comentou:
						</p>
						<p>{{ step.content }}</p>
						}
					</div>
				</div>
			</li>
			}
		</ul>
	</div>
</div>
