<nav class="header">

	<!-- Logo e nome do app  -->
	<div class="page-title">
		<button mat-icon-button (click)="toggleDrawer()">
			<mat-icon>menu</mat-icon>
		</button>
		<span [routerLink]="['/minhas-solicitacoes']" class="header-logo">{{
			headerLogo
		}}</span>
		<p>Solicitação de Cópias - CNAT</p>
	</div>

	<!-- Saudação, foto do usuário e botão de logout -->
	<div class="user-card">
		@if(userSignal() != defaultUserInfo) {
		<p>Bem vindo, {{ userSignal().commonName }}</p>
		<img
			[matTooltip]="userSignal().commonName + ' - ' + userSignal().registrationNumber"
			[src]="userSignal().photoUrl"
			alt="user-pfp"
			class="user-pp"
		/>
		} @else {
		<mat-icon class="user-default shadow-border">person</mat-icon>
		}

		<button
			mat-icon-button
			matTooltip="Sair"
			aria-label="Download button"
			(click)="logoutUser()"
			[disabled]="userSignal() == defaultUserInfo"
		>
			<mat-icon>logout</mat-icon>
		</button>
	</div>
</nav>
