.header {
	display: flex;
	align-items: center;
    margin: 1rem;
	text-align: left;
    gap: .6rem;
	img {
		cursor: pointer;
	}
}

.header-logo {
	width: 1.8rem;
}

.header p {
    font-weight:500;
	font-size: 1.35rem;
	color: #333;
}
