.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem 1rem;
	text-align: left;
	gap: 0.6rem;

	img {
		cursor: pointer;
	}

	.page-title {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.header-logo {
			width: 2rem;
			cursor: pointer;
			position: relative;
			top: 5px;
			opacity: 60%;
			&:hover {
				opacity: 100%;
			}
		}

		p {
			font-size: 1.1rem;
			margin-left: 0.3rem;
			padding-top: 0.3rem;
		}
	}

	.user-card {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		border-radius: 0.5rem;
		justify-content: space-between;

		.user-info {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			text-align: left;
			row-gap: 0.3rem;
		}

		.user-pp {
			display: flex;
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}

		.user-default {
			border-radius: 50%;
			height: auto;
			width: auto;
			padding: 0.2rem;
			clip-path: circle();
		}

		p {
			font-size: 0.9rem;
			margin-right: 0.6rem;
			padding-top: 0.3rem;
		}

		.shadow-border {
			box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
		}
	}
}
