mat-dialog-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1.5rem;
	background: #f9f9f9;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	.header {
		display: flex;
		align-items: center;
		gap: 1.4rem;
		padding: 0.8rem;
		padding-bottom: 0;

		img {
			width: 3.5rem;
		}

		.header-logo {
			position: relative;
			top: 0.2rem;
			width: 2.5rem;
		}

		p {
			font-weight: 500;
			color: var(--text-color);
			font-size: 1.35rem;
		}
	}

	.button-content {
		background-color: var(--button);
		border-radius: 2rem;
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		cursor: pointer;
		transition: transform 0.2s, box-shadow 0.2s;
		color: var(--white);
		font-weight: 500;

		img {
			width: 3rem;
		}

		span {
			font-size: 1.2rem;
			color: white;
		}

		&:hover {
			transform: scale(1.02);
			box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
			background-color: linear-gradient(rgb(0 0 0/5%) 0 0);
		}

		&:active {
			transform: scale(0.99);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
	}
}
