.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 22%;
}

.content {
    margin: 1rem 1rem 1rem 0;
    padding: 1.5rem;
    width: 100%;
    background-color: #e0f2f74d;
	border-radius: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-family: "Arial", sans-serif;
}

app-side-menu {
    margin: 1rem;
}

.warning {
    color: red;
}