<h2 mat-dialog-title>{{ data.title || "Adicionar Novo Arquivo" }}</h2>

@if (data.message) {
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
} @if (data.warning) {
<mat-dialog-content class="warning"
	><strong>{{ data.warning }}</strong></mat-dialog-content
>
}

<mat-dialog-content class="file-input">
	<p>1. Escolha seu arquivo (.pdf)</p>

	<div class="file-input">
		<div class="file-input-field">
			<button
				type="button"
				mat-stroked-button
				(click)="fileInput.click()"
				[disabled]="newCopyData.isPhysical()"
			>
				Escolher arquivo...
			</button>
			<input
				hidden
				(change)="onFileSelected($event)"
				#fileInput
				type="file"
				accept="application/pdf"
			/>
			<div class="file-name">
				<span>
					{{ selectedFile?.name }}
				</span>
			</div>
		</div>
		<p class="hint">Tamanho máximo: {{ maxFileSize }}MB</p>
	</div>
</mat-dialog-content>

<mat-dialog-content class="file-checker">
	<div class="check-box">
		<mat-checkbox (change)="isPhysical($event.checked)"
			>É arquivo físico</mat-checkbox
		>
		<img
			matTooltip="Arquivos físicos não ficarão disponíveis no sistema. 
			Marque esta opção somente se você tiver o arquivo físico em mãos para copiar imediatamente. 
			Escanear e anexar o arquivo PDF digitalizado é recomendado."
			matTooltipPosition="after"
			class="help-icon"
			src="assets/help.svg"
			alt="Ícone de Ajuda"
		/>
	</div>
	<div>
		<mat-form-field [style.opacity]="newCopyData.isPhysical() ? '1' : '0'">
			<mat-label>Número de páginas</mat-label>
			<input
				matInput
				type="number"
				class="copy-number-input"
				[formControl]="pageNumFormControl"
				[errorStateMatcher]="matcher"
				placeholder="Ex. 10"
				(change)="onPageNumChange()"
			/>
			@if (pageNumFormControl.hasError('min') &&
			!pageNumFormControl.hasError('required')) {
			<mat-error>Insira um valor positivo</mat-error>
			} @if (pageNumFormControl.hasError('required')) {
			<mat-error>Campo <strong>obrigatório</strong></mat-error>
			}
		</mat-form-field>
	</div>
</mat-dialog-content>

<mat-dialog-content class="copynum-input">
	<p>2. Defina o número de cópias</p>
	<mat-form-field>
		<mat-label>Número de cópias</mat-label>
		<input
			matInput
			type="number"
			class="copy-number-input"
			[formControl]="copyNumFormControl"
			[errorStateMatcher]="matcher"
			placeholder="Ex. 10"
			(change)="onCopyNumChange()"
		/>
		@if (copyNumFormControl.hasError('min') &&
		!copyNumFormControl.hasError('required')) {
		<mat-error>Insira um valor positivo</mat-error>
		} @if (copyNumFormControl.hasError('required')) {
		<mat-error>Campo <strong>obrigatório</strong></mat-error>
		}
	</mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button (click)="onNoClick()">
		{{ data.negative_label || "Cancelar" }}
	</button>
	<button mat-button [mat-dialog-close]="newCopyData" cdkFocusInitial>
		{{ data.positive_label || "Confirmar" }}
	</button>
</mat-dialog-actions>
