<h2 mat-dialog-title>{{ data.title || "Adicionar Novo Arquivo" }}</h2>

@if (data.message) {
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
} @if (data.warning) {
<mat-dialog-content style="color: red"
	><strong>{{ data.warning }}</strong></mat-dialog-content
>
}

<mat-dialog-content class="file-input">
	<mat-stepper #stepper style="height: auto" [linear]="true">
		<mat-step
			label="Selecionar tipo de arquivo"
			[stepControl]="firstStepForm"
		>
			<form [formGroup]="firstStepForm">
				<mat-accordion class="example-headers-align" multi="false">
					<mat-expansion-panel
						hideToggle
						[expanded]="!firstStepForm.get('isPhysicalFile')?.value"
						(opened)="
							firstStepForm.get('isPhysicalFile')?.setValue(false)
						"
						(closed)="
							fileInput.value = '';
							newCopyForm.reset();
							firstStepForm.get('isPhysicalFile')?.setValue(true);
							advanced_options.close()
						"
					>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<mat-checkbox
									disabled="true"
									[checked]="
										!firstStepForm.get('isPhysicalFile')
											?.value
									"
								></mat-checkbox>
								É arquivo digital
							</mat-panel-title>
							<mat-panel-description>
								<!-- Tamanho máximo: {{ maxFileSize }}MB -->
							</mat-panel-description>
						</mat-expansion-panel-header>
						<p>Selecione seu arquivo em formato .PDF</p>
						<div class="file-input panel-content">
							<div class="file-input-field">
								<button
									type="button"
									mat-stroked-button
									(click)="fileInput.click()"
									[disabled]="
										firstStepForm.get('isPhysicalFile')
											?.value
									"
								>
									Escolher arquivo...
								</button>
								<input
									hidden
									(change)="onFileSelected($event)"
									#fileInput
									type="file"
									accept="application/pdf"
								/>
								<div class="file-name">
									<span>
										{{
											firstStepForm.get("fileName")?.value
										}}
									</span>
								</div>
							</div>
							<p class="hint">
								Tamanho máximo: {{ maxFileSize }}MB
							</p>
						</div>
					</mat-expansion-panel>

					<mat-expansion-panel
						hideToggle
						[expanded]="firstStepForm.get('isPhysicalFile')?.value"
						(opened)="
							firstStepForm.get('isPhysicalFile')?.setValue(true)
						"
						(closed)="
							fileInput.value = '';
							newCopyForm.reset();
							firstStepForm
								.get('isPhysicalFile')
								?.setValue(false);
							advanced_options.close()
						"
					>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<mat-checkbox
									disabled="true"
									[checked]="
										firstStepForm.get('isPhysicalFile')
											?.value
									"
								></mat-checkbox
								>É arquivo físico
							</mat-panel-title>
							<mat-panel-description>
								<span></span>
								<mat-icon
									matTooltip="Arquivos físicos não ficarão disponíveis no sistema. 
                                 Marque esta opção somente se você tiver o arquivo físico em mãos para copiar imediatamente. 
                                 Escanear e anexar o arquivo PDF digitalizado é recomendado."
									matTooltipPosition="before"
									>question_mark</mat-icon
								>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div class="panel-content">
							<p>
								Dê um rótulo ao seu documento e defina o número
								total de páginas a copiar
							</p>

							<div class="physical_archive_infos">
								<mat-form-field>
									<mat-label
										>Defina um rótulo para o
										documento</mat-label
									>
									<input
										matInput
										maxlength="255"
										placeholder="Ex. prova3_2025, anotacoes_aula10, etc"
										formControlName="fileName"
									/>
									@if
									((firstStepForm.get('fileName')?.hasError('minlength')
									||
									firstStepForm.get('fileName')?.hasError('maxlength'))
									&&
									!firstStepForm.get('fileName')?.hasError('required'))
									{
									<mat-error
										>O rótulo deve conter no mínimo 3
										dígitos</mat-error
									>
									} @else if
									(firstStepForm.get('fileName')?.hasError('pattern')
									&&
									!firstStepForm.get('fileName')?.hasError('required'))
									{
									<mat-error
										>O rótulo não pode conter os caracteres
										\ / : * ? " < > | ou apenas espaços em
										branco</mat-error
									>
									} @else if
									(firstStepForm.get('fileName')?.hasError('required'))
									{
									<mat-error>Campo obrigatório</mat-error>
									}
								</mat-form-field>
								<mat-form-field class="copy-number-input">
									<mat-label>Número de páginas</mat-label>
									<input
										matInput
										type="number"
										formControlName="pageCount"
										placeholder="Ex. 10"
									/>
									@if
									(firstStepForm.get('pageCount')?.hasError('min')
									&&
									!firstStepForm.get('pageCount')?.hasError('required'))
									{
									<mat-error
										>Insira um valor positivo</mat-error
									>
									} @if
									(firstStepForm.get('pageCount')?.hasError('required'))
									{
									<mat-error>Campo obrigatório</mat-error>
									}
								</mat-form-field>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>

				<div class="nav-buttons">
					<button
						mat-button
						matStepperNext
						[disabled]="!fistStepValid()"
					>
						Próximo
					</button>
				</div>
			</form>
		</mat-step>
		<mat-step
			label="Configurações de impressão"
			[stepControl]="secondStepForm"
			[completed]="fistStepValid() && secondStepValid()"
		>
			<form [formGroup]="secondStepForm" class="second-step">
				<mat-form-field>
					<mat-label>Defina o número de cópias</mat-label>
					<input
						matInput
						type="number"
						class="copy-number-input"
						formControlName="copyCount"
						placeholder="Ex. 10"
						[errorStateMatcher]="matcher"
					/>
					@if (secondStepForm.get('copyCount')?.hasError('min') &&
					!secondStepForm.get('copyCount')?.hasError('required')) {
					<mat-error>Insira um valor positivo</mat-error>
					} @if
					(secondStepForm.get('copyCount')?.hasError('required')) {
					<mat-error>Campo obrigatório</mat-error>
					}
				</mat-form-field>

				<mat-accordion class="example-headers-align" multi="false">
					<mat-expansion-panel
						#advanced_options
						[expanded]="false"
						[disabled]="firstStepForm.get('isPhysicalFile')?.value"
					>
						<mat-expansion-panel-header>
							<mat-panel-title> Avançado </mat-panel-title>
						</mat-expansion-panel-header>

						<div class="advanced-options">
							<div class="page-range-field">
								<mat-form-field>
									<mat-label>Páginas</mat-label>
									<mat-select
										#pageSelect
										formControlName="pages"
									>
										<mat-option [value]="'Todas'"
											>Todas</mat-option
										>
										<mat-option [value]="'Personalizado'"
											>Personalizado</mat-option
										>
									</mat-select>
								</mat-form-field>

								<mat-form-field>
									<mat-label>Defina as páginas</mat-label>
									<input
										matInput
										[required]="
											pageSelect.value === 'Personalizado'
										"
										formControlName="pageIntervals"
										placeholder="por exemplo, 1-5, 8, 11-13"
									/>
									@if(secondStepForm.get('pageIntervals')?.invalid)
									{
									<mat-error>{{
										getPageIntervalsErrorMessage()
									}}</mat-error>
									}
								</mat-form-field>
							</div>

							<mat-form-field>
								<mat-label>Páginas por folha</mat-label>
								<mat-select formControlName="pagesPerSheet">
									<mat-option [value]="1">1</mat-option>
									<mat-option [value]="2">2</mat-option>
									<mat-option [value]="4">4</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field>
								<mat-label>Layout</mat-label>
								<mat-select formControlName="layout">
									<mat-option value="Retrato"
										>Retrato</mat-option
									>
									<mat-option value="Paisagem"
										>Paisagem</mat-option
									>
								</mat-select>
							</mat-form-field>

							<div class="front-and-back">
								<p>Frente e verso</p>
								<mat-checkbox
									formControlName="frontAndBack"
									[checked]="
										secondStepForm.get('frontAndBack')
											?.value
									"
									>Imprimir dos dois lados</mat-checkbox
								>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>

				<div class="nav-buttons">
					<button mat-button matStepperPrevious>Voltar</button>
					<button
						mat-button
						matStepperNext
						[disabled]="!secondStepValid()"
					>
						Próximo
					</button>
				</div>
			</form>
		</mat-step>
		<mat-step label="Resumo">
			<div class="overview-text">
				<p data-label="Nome:">
					{{ firstStepForm.get("fileName")?.value }}
				</p>
				<p data-label="Número de páginas:">
					{{ firstStepForm.get("pageCount")?.value }}
				</p>
				<p data-label="Número de cópias:">
					{{ secondStepForm.get("copyCount")?.value }}
				</p>

				@if(!secondStepForm.get("pages")?.pristine) {
				<p data-label="Páginas:">
					{{ secondStepForm.get("pages")?.value }}
				</p>
				@if(secondStepForm.get("pages")?.value !== 'Todas') {
				<p data-label="Intervalo:">
					{{ secondStepForm.get("pageIntervals")?.value }}
				</p>
				} } 
				
				@if(!secondStepForm.get("pagesPerSheet")?.pristine ||
				secondStepForm.get("pagesPerSheet")?.value !== 1 ) {
				<p data-label="Páginas por folha:">
					{{ secondStepForm.get("pagesPerSheet")?.value }}
				</p>
				} 
				
				@if(!secondStepForm.get("layout")?.pristine ||
				secondStepForm.get("layout")?.value !== 'Retrato'){
				<p data-label="Layout:">
					{{ secondStepForm.get("layout")?.value }}
				</p>
				} 
				
				@if(!secondStepForm.get("frontAndBack")?.pristine ||
				secondStepForm.get("frontAndBack")?.value) {
				<p data-label="Frente e verso:">
					{{
						secondStepForm.get("frontAndBack")?.value
							? "Sim"
							: "Não"
					}}
				</p>
				}


				<br class="break" />
				<p data-label="Prévia de folhas:">{{ sheetsTotal }}</p>
			</div>

			<div class="notes-container">
				<mat-form-field>
					<mat-label>Adicione uma observação (opcional)</mat-label>
					<textarea
						#textArea
						matInput
						maxlength="300"
						style="height: 5.5rem; resize: none"
						[formControl]="notesControl"
					></textarea>
					<mat-hint
						>Caracteres:
						{{ textArea.value.length || 0 }}/300</mat-hint
					>
				</mat-form-field>
			</div>

			<div class="nav-buttons">
				<button mat-button matStepperPrevious>Voltar</button>
			</div>
		</mat-step>
	</mat-stepper>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button (click)="onNoClick()">
		{{ data.negative_label || "Cancelar" }}
	</button>
	<button
		mat-button
		(click)="
			stepper.reset(); fileInput.value = ''; advanced_options.close()
		"
	>
		Limpar
	</button>
	<button
		mat-button
		[mat-dialog-close]="requestInfo()"
		[disabled]="
			stepper.selectedIndex !== stepper.steps.length - 1 ||
			newCopyForm.invalid
		"
	>
		{{ data.positive_label || "Confirmar" }}
	</button>
</mat-dialog-actions>
