.file-input {
	display: flex;
	flex-direction: column;
	width: 50vw;

	.hint {
		margin: 0.3rem;
		font-size: small;
	}

	&-field {
		display: flex;
		flex-direction: row;
	}
}

mat-accordion {
	.advanced-options {
		display: flex;
		flex-direction: column;
		.page-range-field {
			display: flex;
			gap: 1rem;
			mat-form-field {
				width: 100%;
			}
		}
	}

	mat-expansion-panel p {
		margin-bottom: 0.5rem;
	}
}

.panel-content {
	height: 100%;
}

.example-headers-align {
	margin-top: 0.5rem;
	.mat-expansion-panel-header-description {
		justify-content: space-between;
		align-items: center;
	}
}

.file-input-field button {
	height: 3.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	background-color: white;
}

.nav-buttons {
	margin-top: 1rem;
}

.second-step {
	display: flex;
	flex-direction: column;

	.front-and-back {
		p {
			margin: auto 0;
		}
		display: flex;

		gap: 2rem;
	}
}

.file-name {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	overflow: hidden;
	color: var(--text-color);
}

.file-checker {
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	.check-box {
		display: flex;
		overflow: hidden;
		align-items: center;
		margin-bottom: 0.5rem;
		mat-form-field {
			margin-left: 1rem;
		}
	}
	mat-form-field {
		opacity: 0;
		transition: opacity 0.3s linear;
	}
}

.help-icon {
	width: 1.25rem;
	margin-left: 0.5rem;
	margin-bottom: 0.1rem;
	opacity: 50%;
	cursor: pointer;
	&:hover {
		opacity: 30%;
	}
}

.physical_archive_infos {
	display: flex;
	gap: 0.5rem;
	width: 100%;
	mat-form-field {
		width: 100%;
	}
	.copy-number-input {
		width: 33%;
	}
}

.overview-text {
	margin-bottom: 1rem;
	background-color: #f9f9f9;
	border-radius: 8px;
	padding: 1.2rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .overview-text p {
	margin: 0.5rem 0;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	&:last-child {
		margin-bottom: 0;
	}
  }
  
  .overview-text p::before {
	content: attr(data-label);
	font-weight: 500;
	color: #555;
	min-width: 160px;
  }

  span::before {
	content: attr(data-label);
	opacity: 25%;
	margin: 0 2rem;
  }
  
  .overview-text .break {
	  display: block;
	  margin-bottom: 0.8rem;
	  content: "";
	  border-bottom: 1px solid #eaeaea;	  
  }
  
  .notes-container mat-form-field {
	width: 100%;
  }
  
  .notes-container mat-hint {
	display: block;
	text-align: right;
	font-size: 12px;
	color: #767676;
	margin-top: 4px;
  }
  