<div class="main-container">
	<div class="base-container">
		<div class="header">
			<img routerLink="" src="assets/printer-01.svg" alt="logo" class="header-logo" />
			<h1>Solicitação de Cópias - CNAT</h1>
		</div>

		<h2>Solicitações</h2>

		<ul class="options-list">
			@for (option of options; track $index) {
			<button mat-fab extended [routerLink]="option.routerLink">
				<mat-icon>{{ option.icon }}</mat-icon>
				{{ option.text }}
			</button>
			}
		</ul>
	</div>
	<div class="user-container">
		<div class="user-card">
			<img src="assets/user-01.svg" alt="user" class="user-pp" />
			<div class="user-info">
				<span>{{ user.name }}</span>
				<span>{{ user.id }}</span>
			</div>
			<button mat-icon-button matTooltip="Sair" aria-label="Download button">
                <mat-icon>logout</mat-icon>
            </button>
		</div>
	</div>
</div>
