.main-container {
	display: flex;
	flex-direction: column;
	background-color: #e0f2f7;
	border-radius: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-family: "Arial", sans-serif;
	height: 100%;

	justify-content: space-between;
}

.user-pp {
	border-radius: 50%;
}

.base-container,
.user-container {
	padding: 1.5rem;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	text-align: left; /* Reset text alignment for header content */

	img {
		cursor: pointer;
	}
}

.header-logo {
	width: 55px;
	margin: 0 1rem 0 1rem;
}

.header h1 {
	font-size: 1.35rem;
	color: #333;
	flex-grow: 1;
	text-align: center;
}

h2 {
	font-size: 1.1rem;
	color: #555;
	margin-bottom: 1rem;
}

.options-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;

	button {
		width: 100%;
		justify-content: flex-start;
		height: 3.5rem;
		border-radius: 0.5rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	}
}

button:hover {
	transform: scale(1.02);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.user-card {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: white;
	margin-top: auto;
	padding: 2rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	justify-content: space-between; /* Distribute space more evenly */
}

.user-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; /* Added flex-wrap for responsiveness */
	text-align: left;
	row-gap: 0.3rem;
}

.user-pp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #000000;
	cursor: pointer;
}
