.main-container {
	display: flex;
	flex-direction: column;
	font-family: "Arial", sans-serif;
	height: 100%;

	justify-content: space-between;
}

mat-drawer-container {
	height: 100%;
	background-color: transparent;
	mat-drawer {
		background-color: transparent;
		padding: 0 0 1rem 1rem;
		width: 15vw;
	}
}

.user-pp {
	border-radius: 50%;
}

.side-menu {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;

	text-align: start;
	p {
		padding-right: 1rem;
		font-size: small;
		opacity: 50%;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

h2 {
	font-size: 1.1rem;
	color: var(--text-color);
	font-family: var(--font-family-primary);
	margin-bottom: 1rem;
}

.options-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;

	button {
		width: 100%;
		justify-content: flex-start;
		height: 3.5rem;
		border-radius: 0.5rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
		background-color: var(--side-menu-buttons);
		
		&:hover {
			background-color: var(--table-header);
		}

	}
	.selected {
		font-weight: bold;
		background-color: var(--table-header);
	}
}

