<form class="my-steps">
	<h2 class="page-title">{{ pageTitle }}</h2>

	<p>1. Anexe cópias à solicitação</p>

	<div class="btn-selection">
		<button type="button" mat-flat-button (click)="addCopyDialog()">
			Adicionar nova cópia
		</button>
		<button type="button" mat-button (click)="clearCopiesDialog()">Limpar</button>
	</div>

	<div class="file-table table-wrapper" style="margin-bottom: 2rem">
		<table mat-table [dataSource]="copies" matSort class="mat-elevation-z8">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>ID</th>
				<td mat-cell *matCellDef="let element">
					{{ element.id.toString().padStart(6, "0") }}
				</td>
			</ng-container>

			<ng-container matColumnDef="fileName">
				<th mat-header-cell *matHeaderCellDef style="width: 50%">
					Arquivo
				</th>
				<td mat-cell *matCellDef="let element" style="width: 50%">
					{{ element.fileName }}
				</td>
			</ng-container>

			<ng-container matColumnDef="pageCount">
				<th mat-header-cell *matHeaderCellDef>Páginas</th>
				<td mat-cell *matCellDef="let element">
					{{ element.pageCount }}
				</td>
			</ng-container>

			<ng-container matColumnDef="copyCount">
				<th mat-header-cell *matHeaderCellDef>Nº Cópias</th>
				<td mat-cell *matCellDef="let element">
					{{ element.copyCount }}
				</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Ações</th>
				<td mat-cell *matCellDef="let element">
					@for (action of allowedActions; track $index) {
					<button
						[disabled]="
							actionService.disabledHandler(
								'request-form',
								undefined,
								action,
								element
							)
						"
						mat-icon-button
						matTooltip="{{ action }}"
						aria-label="Action Button"
						(click)="
							actionService.callbackHandler(
								action,
								element
							)
						"
					>
						<mat-icon>{{ action | icon }}</mat-icon>
					</button>
					}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>

		@if(loadingData()) {
			<div class="overlay">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>
			}
	</div>

	<div class="copy-summary" style="margin-bottom: 2rem">
		<mat-chip-set aria-label="Sumário de cópias">
			<mat-chip>Arquivos: {{ fileCount() }}</mat-chip>
			<mat-chip>Contagem de Folhas: {{ requestPageCounter() }}</mat-chip>
			<img
				style="margin-left: 0.5rem"
				matTooltip="Nº folhas = Σ(nº páginas * nº de cópias) ∀ arquivos anexados"
				matTooltipPosition="after"
				class="help-icon"
				src="assets/help.svg"
				alt="Icone de Ajuda"
			/>
		</mat-chip-set>
	</div>

	<div class="term-input">
		<div class="term-title">
			<p>2. Defina o prazo de entrega</p>
			<img
				matTooltip="Contado em horas úteis"
				matTooltipPosition="after"
				class="help-icon"
				src="assets/help.svg"
				alt="Icone de Ajuda"
			/>
		</div>

		<mat-form-field>
			<mat-label>Selecione um prazo</mat-label>
			<mat-select [formControl]="selectedTermControl">
				@for (time of times; track time) {
				<mat-option [value]="time">{{ time }} horas</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</div>

	<div class="confirm-button">
		<button type="button" mat-flat-button (click)="submitRequest()" [disabled]="uploading()">
			Enviar Solicitação
		</button>
		<mat-progress-spinner mode="indeterminate" diameter="30" [style.visibility]="uploading()? 'visible': 'hidden'"></mat-progress-spinner>
	</div>
</form>
