<form class="my-steps">
	<h2 class="page-title">{{ pageState }}</h2>

	<p>1. Anexe arquivos à solicitação</p>

	<div class="btn-selection">
		<button type="button" mat-flat-button (click)="addCopyDialog()">
			Adicionar arquivo
		</button>
		<button type="button" mat-button (click)="clearCopies()">Limpar</button>
	</div>

	<div class="file-table" style="margin-bottom: 2rem">
		<table mat-table [dataSource]="copies" matSort class="mat-elevation-z8">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>ID</th>
				<td mat-cell *matCellDef="let element">
					{{ element.id.toString().padStart(6, "0") }}
				</td>
			</ng-container>

			<ng-container matColumnDef="file_name">
				<th mat-header-cell *matHeaderCellDef style="width: 50%">
					Arquivo
				</th>
				<td mat-cell *matCellDef="let element" style="width: 50%">
					{{ element.file_name }}
				</td>
			</ng-container>

			<ng-container matColumnDef="page_count">
				<th mat-header-cell *matHeaderCellDef>Páginas</th>
				<td mat-cell *matCellDef="let element">
					{{ element.page_count }}
				</td>
			</ng-container>

			<ng-container matColumnDef="copy_count">
				<th mat-header-cell *matHeaderCellDef>Nº Cópias</th>
				<td mat-cell *matCellDef="let element">
					{{ element.copy_count }}
				</td>
			</ng-container>

			<ng-container class="center-elements" matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Ações</th>

				<td mat-cell *matCellDef="let element">
					@if (pageState == 'Editar Solicitação') {

					<button
						mat-icon-button
						matTooltip="Editar"
						aria-label="Editar cópia"
						(click)="editCopyDialog(element)"
					>
						<mat-icon>edit</mat-icon>
					</button>
					}

					<button
						mat-icon-button
						matTooltip="Remover"
						aria-label="Remover cópia"
						(click)="removeCopy(element)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	</div>

	<div class="copy-summary" style="margin-bottom: 2rem">
		<mat-chip-set aria-label="Sumário de cópias">
			<mat-chip>Arquivos adicionados: {{ fileCount() }}</mat-chip>
			<mat-chip>Contagem de folhas: {{ requestPageCounter() }}</mat-chip>
		</mat-chip-set>
	</div>

	<div class="term-input">
		<div class="term-title">
			<p>2. Defina o prazo de entrega</p>
			<img matTooltip="Contado em dias úteis" class="help-icon" src="assets/help.svg" alt="Icone de Ajuda" />
		</div>

		<mat-form-field>
			<mat-label>Selecione um prazo</mat-label>
			<mat-select [formControl]="selectedTimeControl">
				@for (time of times; track time) {
				<mat-option [value]="time">{{ time }} horas</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</div>

	<div class="confirm-button">
		<button type="button" mat-flat-button (click)="submitRequest()">
			Enviar Solicitação
		</button>
	</div>
</form>
