form {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-title {
	margin-bottom: 2rem;
	display: flex;
	gap: 0.5rem;
	font-size: 1.1rem;
	color: var(--text-color);

	span:first-child {
		cursor: pointer;
		text-decoration: underline;
	}
}

.my-steps {
	p {
		margin-bottom: 1rem;
	}
	div {
		margin-bottom: 1rem;
		&:last-child {
			margin: 0;
		}
	}
}

h2,
h3 {
	font-size: 1.1rem;
}

.file-name {
	margin-left: 1rem;
	width: 5rem;
}

.file-input button {
	height: 3.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	background-color: white;
}

.copy-number-input {
	background-color: white;
}

.btn-selection {
	button:last-child {
		margin-left: 1rem;
	}
}

.btn-selection,
.confirm-button {
	button:first-child {
		background-color: var(--button);
	}
}

.file-table {
	border-radius: 1rem;
	padding-right: 0.1rem;
	overflow-y: scroll;
	height: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);

	&::-webkit-scrollbar-track {
		border-radius: 1rem;
	}

	&::-webkit-scrollbar {
		width: 1rem;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background-color: var(--table-header);
	}
}

.term-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	p {
		margin: 0;
	}
}

.help-icon {
	width: 1.25rem;
	opacity: 50%;
	cursor: pointer;
	&:hover {
		opacity: 30%;
	}
}

.copy-summary {
	margin-bottom: 2rem;
	mat-chip {
		background-color: white;
	}
}

$border-radius: 0.5rem;
table {
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	border-radius: $border-radius;

	th {
		background-color: var(--table-header);
		padding-block: 1rem;
	}

	tr {
		background-color: var(--table-row);
	}

	th:first-child {
		border-top-left-radius: $border-radius;
	}

	th,
	td {
		padding-inline: 3rem;
	}

	td:last-child,
	th:last-child {
		text-align: center;
		width: 20%;
	}
}

.confirm-button {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 1rem 0;
}

.table-wrapper {
	position: relative; /* Define a referência para posicionamento absoluto */
	display: inline-block; /* Ajusta o tamanho ao conteúdo da tabela */
	height: 100%;
	box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
	border-radius: 1rem;
	overflow: hidden;
}

.overlay {
	position: absolute; /* Posiciona a div relativa ao wrapper */
	top: 0; /* Alinhado ao topo da tabela */
	left: 0; /* Alinhado à esquerda da tabela */
	width: 100%; /* Tamanho igual à tabela */
	height: 100%; /* Altura igual à tabela */
	background-color: var(--transparent-overlay); /* Fundo semitransparente */
	border-radius: 1rem;
	display: flex; /* Alinhamento central */
	justify-content: center;
	align-items: center;
	z-index: 10; /* Garante que a div esteja acima da tabela */
	// pointer-events: none; /* Permite clicar nos elementos da tabela abaixo */
}