@use "@angular/material" as mat;
@use "sass:color";

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
	@include mat.table-overrides(
		(
			background-color: trasparent,
		)
	);
	@include mat.sort-overrides(());
	@include mat.paginator-overrides(
		(
			container-background-color: transparent,
		)
	);
	@include mat.fab-overrides(
		(
			container-color: white,
		)
	);
	@include mat.form-field-overrides(
		(
			filled-container-color: white,
		)
	);
	@include mat.select-overrides(
		(
			panel-background-color: white,
		)
	);
	@include mat.progress-spinner-overrides(
		(
			active-indicator-color: var(--spinner),
		)
	);
	@include mat.checkbox-overrides(
		(
			label-text-color: var(--text-color-secondary),
		)
	);
	@include mat.dialog-overrides(
		(
			container-max-width: 50vw,
		)
	);
}
:root {
	// --white: #fff;
	// --grey-200: #eee;
	// --grey-400: #ccc;
	// --grey-500: #999;
	// --grey-600: #666;
	// --black: #292929;
	// --primary: #347b3e;
	// --secondary: #75ad0a;
	// --success: #198754;
	// --login-black: #112828;
	// --login-primary: #37FFAC;
	// --login-primary-rgb: 55, 255, 172;
	// --login-secondary: #376F6C;
	// --login-tertiary: #0D3433;

	--background: #e8f0e3;
	--main: #ffffff;
	--button: #387652;
	--table-header: rgb(167, 209, 171);
	--table-row: #ffffff;
	--table-row-concluded: #e8f0e3;
	--side-menu-buttons: white;
	--user-card: #ffffff;
	--border: #d0d5d9;
	--text-color: #333;
	--text-color-secondary: #44474e; // Peguei essa cor no </mat-dialog-content> do angular material (--mat-sys-on-surface-variant)
	--accent: #66b3ff;
	--accent-secondary: #add6ff;
	--warning: #ff9800;
	--error: #f44336;
	--summary-chip: #ffffff;
	--font-family-primary: Roboto, "Helvetica Neue", sans-serif;
	--transparent-overlay: rgba(56, 118, 82, 0.1);
	--spinner: #387652;
	--muted: #777;
}


* {
	margin: 0;
	padding: 0;
	font-family: var(--font-family-primary);
}

html,
body {
	height: 100vh;
}

app-root {
	display: flex;
	height: 100%;
}

body {
	margin: 0;
	font-family: var(--font-family-primary);
}

mat-icon {
	cursor: pointer;
}

.status-chip {
	font-size: 0.9rem;
	padding: 0.3rem 0.4rem;
	margin-right: 0.2rem;
	border-radius: 0 0.25rem 0.25rem 0;
  
	$statuses: (
	  "opened":    #add6ff,
	  "closed":    #ffdddd,
	  "edited":    #ffeeba,
	  "archived":  #f0f0f0,
	);
  
	@each $status, $color in $statuses {
	  &-#{$status} {
		background-color: $color;
		border-left: 0.2rem solid color.adjust($color, $lightness: -15%);
		border-top: 1px solid color.adjust($color, $lightness: -15%);
		border-right: 1px solid color.adjust($color, $lightness: -15%);
		border-bottom: 1px solid color.adjust($color, $lightness: -15%);
	  }
	}
  }
